.text
{
  overflow: hidden;
  font-weight: 700;
  border-right: 0.15rem solid orange;
  animation: typing 4s steps(40,end) infinite
}



@keyframes typing {
  from{
    width :0;
  }
  to{
    width: 100%;
  }
}

@media (max-width:800px) {
#box
{
  height:100%;
  gap:20px;
}
}
@media (max-width: 1024px) {
  h1 {
      display: block;
  }
  h1 {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
   font-size: xxx-large;
}
}